.contacts {
  padding: 120px 0 91px 0;
  margin-top: 30px;
  &__wrapper {
    display: grid;
    padding: 0 35px 0 52px;
    grid-template-columns: 400px 585px;
    grid-template-rows: minmax(600px, auto);
    grid-auto-rows: minmax(245px, auto);
    justify-content: space-between;
    // column-gap: 70px;
    // row-gap: 40px;
  }
  &__photo {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__descr {
    padding-top: 6px;
    .divider {
      @include divider;
      margin: 0;
    }
  }
  &__title {
    position: relative;
    color: #000;
    padding: 1px 0 0 12px;
    @include before_circle;
  }
  &__text, &__social {
    margin-top: 20px;
  }
  &__link {
    margin-right: 25px;
    &:hover {
      text-decoration: none;
    }
    img {
      max-width: 30px;
      max-height: 30px;
    }
  }
  &__form {
    margin-top: 30px;
    display: grid;
    grid-template: 45px 240px 45px / repeat(2, 280px);
    justify-content: space-between;
    row-gap: 30px;
  }
  &__input {
    position: relative;
    // z-index: -1;
    input {
      width: 100%;
      height: 100%;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      padding: 20px;
      border: 1px solid #000;
      color: #3d5c5c;
    }
  }
  &__textarea {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    resize: none;
    textarea {
      color: #3d5c5c;
      padding: 20px;
      width: 100%;
      height: 100%;
      border: 1px solid #000;
    }
  }
  label {
    position: absolute;
    left: 20px;
    top: -9px;
    padding: 0 8px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  &__btn {
    // width: 240px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  &__triggers {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 35px;
  }
  &__policy {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-row: 3 / 4;
    input {
      margin-right: 10px;
    }
  }
}
#name-error, #email-error, #check-error {
  position: relative;
  color: red;
  font-size: 15px;
}
#check-error {
  top: 5px;
  left: 0;
  line-height: 14px;
  font-size: 13px;
}