@keyframes rotation {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

@keyframes zooming {
	0% {
		transform: scale(0.1);
	}

	50% {
		transform: scale(1.6);
	}

	100% {
		transform: scale(1);
	}
}