@use "./keyframes";

.portfolio {
  	padding-top: 120px;

	.divider {
		@include divider;
	}

	&__wrapper {
		margin-top: 60px;
		display: grid;
		grid-template: repeat(2, minmax(0, 280px)) / repeat(4, minmax(0, 280px));
		grid-auto-rows: 280px;
		column-gap: 5px;
		row-gap: 50px;

		.overlay {
			position: fixed;
			width: 100%;
			height: 100vh;
			top: 0;
			left: 0;
			background-color: rgba(256, 256, 256, 0.8);
			z-index: -2;
		}

		.container {
			width: 280px;
			height: 280px;

			&.horizontal {
				width: 565px;
				grid-column: 2 / 4;
				grid-row: 2 / 3;
			}

			&.vertical {
				height: 610px;
				grid-row: 1 / 3;
				grid-column: 4 / 5;
			}
		}
	}

	&__item {
		img {
			max-height: 280px;
			max-width: 280px;
			transition: all 0.6s;
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: grayscale(95%);

			&:hover {
				transform: scale(1.05);
				filter: grayscale(0%)
			}
		}

		&-btns {
			display: grid;
			grid-template: repeat(2, 138px);
			gap: 5px;
			width: 100%;
			position: relative;

			.code {
				grid-column: 1 / 2;
			}

			.descr {
				grid-column: 2 / 3;
			}

			.code, .descr {
				width: auto;
				height: 45px;
				background-color: #fff;
				opacity: 0.6;
				border: 1px solid grey;
				color: #2b375e;
				text-align: center;
				align-items: center;
				z-index: 10;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					opacity: 1;
					text-decoration: none;
					transform: scale(1.1);
					transition: all 0.3s ease-in;
				}
			}
		}


		&-text {
			visibility: hidden;
			background-color: grey;
			padding: 40px 30px;
			width: 700px;
			height: 280px;
			border: 4px solid #ffa501;
			border-radius: 25px;
			z-index: 100;
			position: relative;
			left: 96%;
			top: -70%;
			color: #fff;
			display: grid;
			opacity: 0;
			grid-template: 110px 40px / 226px 150px 226px;
			gap: 15px;
			transition: visibility 0.3s ease, opacity 0.3s ease;

			&#uber {
				left: 77%;
				top: -58%;
			}

			&#quiz {
				left: -24%;
				top: -58%;
			}

			&#pulse {
				left: -126%;
				top: -58%;
			}

			&#mntn {
				left: -228%;
				top: -80%;
			}

			&#food {
				left: 77%;
				top: -175%;
			}

			&#discover {
				left: -24%;
				top: -175%;
			}

			.stack {
				grid-column: 1/2;

				span {
					font-size: 17px;
					font-weight: 600;
				}

				.items {
					.item {
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;
						margin-left: 20px;
						font-weight: 500;
						list-style-type: none;
						position: relative;

						&::before {
							content: "\2022";
							position: relative;
							font-size: 18px;
							right: 10px;
							vertical-align: middle;
							text-align: center;
						}

						span {
							font-size: 14px;
							font-weight: 400;

							&::before {
								content: "";
								display: inline-block;
								width: 16px;
								height: 16px;
								position: relative;
								top: 2px;
								right: 10px;
							}

							&.html {
								margin-left: 50px;

								&::before {
									background-color: red;
								}
							}
							&.css {
								margin-left: 13px;

								&:before {
									background-color: blue;
								}
							}
							&.js {
								margin-left: 39px;

								&::before {
									background-color: yellow;
								}
							}

							&.php {
								margin-left: 75px;

								&::before {
									background-color: green;
								}
							}
						}
					}
				}
			}

			.diagram {
				grid-column: 2/3;
				width: 110px;
				height: 110px;
				// background: conic-gradient(red 0% 36%, blue 36% 84%, yellow 84% 100%);
				border-radius: 50%;
				position: relative;
				animation: rotation 5s infinite linear;
				justify-self: center;
				align-self: flex-end;

				&::before {
					content: '';
					display: block;
					position: relative;
					z-index: 120;
					width: 70px;
					height: 70px;
					top: 50%;
					left: 50%;
					transform: translateY(-50%), translateX(-50%);
					transform: translate(-50%, -50%);
					background-color: grey;
					border-radius: 50%;
				}
			}

			.libraries {
				grid-column: 3/4;

				span {
					font-size: 17px;
					font-weight: 600;
				}

				.items {
					.item {
						margin-left: 20px;
						font-weight: 400;
					}
				}
			}

			.close {
				position: relative;
				grid-column: 2/3;
				width: 200px;
				height: 45px;
				bottom: -35px;
				left: 50%;
				color: #e7e6e6;
				transform: translateX(-50%);
				background-image: linear-gradient(to bottom, grey, rgb(194, 194, 194));
				border: none;
				border-radius: 20px;
				box-shadow: 0 3px 6px 3px;
				text-transform: uppercase;

				&:hover {
					transition: all 0.2s ease-in;
					background-image: linear-gradient(to bottom, grey, #ffa501);
					box-shadow: 0 5px 8px 5px;
					color: #fff;
				}
			}
		}

		&.vertical {
			grid-row: 1 / 3;
			grid-column: 4 / 5;

			img {
				max-height: 610px;
			}

			.portfolio__item-btns {
				.code, .descr {
					top: 610px;
				}
			}
		}
		&.horizontal {
			grid-column: 2 / 4;
			grid-row: 2 / 3;

			img {
				max-width: 565px;
			}
		}
	}
}