.portfolio {
  	padding-top: 120px;

	.divider {
		@include divider;
	}

	&__wrapper {
		margin-top: 60px;
		display: grid;
		grid-template: repeat(2, minmax(auto, 280px)) / repeat(4, minmax(auto, 280px));//не правильно
		grid-auto-rows: 280px;
		column-gap: 5px;
		row-gap: 50px;
		// position: absolute;

		.container {
			width: 280px;
			height: 280px;
			// position: absolute;

			&.horizontal {
				width: 565px;
				grid-column: 2 / 4;
				grid-row: 2 / 3;
			}

			&.vertical {
				height: 610px;
				grid-row: 1 / 3;
				grid-column: 4 / 5;
			}
		}

		// .overlay {
		// 	display: none;
		// 	width: 100vw;
		// 	height: 100vh;
		// 	top: 0;
		// 	left: 0;
		// 	position: fixed;
		// 	background-color: rgba(0, 0, 0, 0.2);
		// }

	}

	&__item {
		img {
			max-height: 280px;
			max-width: 280px;
			transition: all 0.6s;
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: grayscale(95%);

			&:hover {
				transform: scale(1.05);
				filter: grayscale(0%)
			}
		}

		&-btns {
			display: grid;
			grid-template: repeat(2, 138px);
			gap: 5px;
			width: 100%;
			position: relative;

			.code {
				grid-column: 1 / 2;
			}

			.descr {
				grid-column: 2 / 3;
			}

			.code, .descr {
				width: auto;
				height: 45px;
				background-color: #fff;
				opacity: 0.6;
				border: 1px solid grey;
				color: #2b375e;
				text-align: center;
				align-items: center;
				z-index: 10;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					opacity: 1;
					text-decoration: none;
					transform: scale(1.1);
					transition: all 0.3s ease-in;
				}
			}
		}


		&-text {
			background-color: grey;
			padding: 20px 30px;
			width: 700px;
			height: 300px;
			border: 4px solid #ffa501;
			border-radius: 25px;
			z-index: 15;
			position: relative;
			left: 96%;
			top: -70%;
			color: #fff;
			display: grid;
			grid-template: repeat(2, minmax(60px, 1fr)) / 2 (240px, 190px, 240px);
			gap: 15px;

			.stack {
				grid-column: 1/2;

				span {
					font-size: 17px;
					font-weight: 600;
				}

				.items {
					.item {
						margin-left: 20px;
						// font-size: 14px;
						font-weight: 400;
						// list-style-type: none;
					}
				}
			}

			.diagram {
				grid-column: 2/3;
				width: 130px;
				height: 130px;
				// display: flex;
				text-align: center;
				vertical-align: middle;
				align-items: center;
				background: conic-gradient(red 0% 36%, blue 36% 84%, yellow 84% 100%);
				border-radius: 50%;
				right: 0;
				// margin-left: 25px;
				position: relative;

				&::before {
					content: '';
					display: block;
					position: relative;
					z-index: 20;
					width: 100px;
					height: 100px;
					top: 50%;
					left: 50%;
					transform: translateY(-50%), translateX(-50%);
					transform: translate(-50%, -50%);
					background-color: grey;
					border-radius: 50%;
				}
			}

			.libraries {
				grid-column: 3/4;

				span {
					font-size: 17px;
					font-weight: 600;
				}

				.items {
					.item {
						// list-style-type: none;
						margin-left: 20px;
						// font-size: 14px;
						font-weight: 400;
					}
				}
			}


		}

		&.vertical {
			grid-row: 1 / 3;
			grid-column: 4 / 5;

			img {
				max-height: 610px;
			}

			.portfolio__item-btns {
				.code, .descr {
					top: 610px;
				}
			}
		}
		&.horizontal {
			grid-column: 2 / 4;
			grid-row: 2 / 3;

			img {
				max-width: 565px;
			}
		}
	}
}